.margin{
    margin-top:10%;
}
.bg{
    background-image: url("https://tse1.mm.bing.net/th/id/OIG4.6y.w5U42D.HzU2x_0MBP?pid=ImgGn");
    height: 100vh;
    background-size: cover;
}
.head{
    color:darkblue;
    width:500px;
    border-style:solid;
    border-color:blue;
    border-width:1px;
}
.para{
    color:darkblue;
}
span{
    text-decoration: underline;
    color: blue;
}
.upload{
    text-align: center;
    font-size:22px;
}
p{
    font-weight: bold;
}
.dis{
    font-style: italic;
    font-size: 22px;
    color:black;
    text-decoration: none;
}
.head_pre{
    font-weight: bold;
}
.head2{
    font-weight: bold;
}
.another{
    font-weight: bold;
}
.list{
    font-weight: bold;
}
.bg2 {
    position: relative;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}

.bg2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('https://tse1.mm.bing.net/th/id/OIG1.JHZ2rtXaCkRYm5rilc7G?pid=ImgGn') no-repeat center center;
    background-size: cover;
    opacity: 0.5; /* Adjust opacity here */
    z-index: -1; /* Ensure the pseudo-element is behind the content */
}

.bg2 p {
    position: relative; /* Ensure content is above the pseudo-element */
    z-index: 1;
}
